#main {
    height: 100vh;
}

body {
    background: url(https://cdn2.hubspot.net/hubfs/202339/canvas/images/parallax/Website-Design-Background.png) no-reapet;
    width:100%;
    height:100%;
    color: #fff;
}
