#main {
    height: 100vh;
}

body {
    background: url(https://directlinedev.com/media/services/service/background/background_20.wide.jpeg);
    width: 100%;
    height: 100%;
    color: #fff;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}
